#main-image {
  width: 60%;
}

.songs {
  width: 30%;
  float: right;
  border: 5px solid green; 
  height: 500px;
  background-color: rgb(53, 77, 185);
  text-align: center;
}

.row {
  /* width: 100px; */
  display: flex;
  justify-content: space-around;
}

/* .column {
  width: 100px;
  border: 5px solid black;
} */