img {
  float: left;
  width: 500px;
}

.sidebar {
  float: right;
  width: 500pt;
  background-color: yellow;
}

.column {
  width: 300px;
  float: center;
}

.transition {
  float: right;
  width: 300px;
  margin-top: 300px;
  margin-left: 50px;
}